<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue3_Firebase</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        .box {
            padding: 100px 0;
            margin: 20px;
            width: 400px;
            background-color: rgb(18, 207, 103);
            text-align: center;
            display: inline-block;
        }
    </style>
</head>

<body>
    <h1>Hello Vue3! 👋</h1>
    <div id="app">
        <a :href="url">Best Website in the world ⚓️</a>
        <div v-if="showfilm">
            <ul>
                <li v-for="item in films">
                    <h3>{{item.title}}</h3>
                    <p>{{item.author}}</p>
                    </li>
                    </ul>
                    <br />
                    <button
                @click="updateTitle('The Legend of King Arthur: The Sword in the Stone and the Lady of the London')">
                Update film Title
            </button>
            <button @click="togglefilms">Hide films</button>
        </div>

        <div v-else>
            <button @click="togglefilms">Showfilm</button>
        </div>

        <div v-show="showfilm">
            Currently Showing films
        </div>

        <!-- Mouse Events -->
        <br>
        <br>

        <div class="box" @mouseover="handleEvent($event, 5)">Mouseover (enter)</div>
        <div class="box" @mouseleave="handleEvent">Mouseleave</div>
        <div class="box" @dblclick="handleEvent">double click</div>
        <div class="box" @mousemove="handleMouseMove">Position - {{x}} {{y}}</div>
    </div>
    <script src="./script.js"></script>
</body>

</html>